# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# OSX - Remove .DS_Store with `find . -name ".DS_Store" -delete`

.DS_Store

# Python Virtual Environment
venv/

# Document Generation Paths - For Sphinx to Markdown Conversion During Builds
# This is so I can test document generation locally without having to worry about remembering to delete the docs before commit.
/src/main/resources/assets/randomtech/docs/*
/api/src/main/resources/assets/api/docs/*