# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# OSX - Remove .DS_Store with `find . -name ".DS_Store" -delete`

.DS_Store

# Python Virtual Environment
venv/